{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
	{% for message in messages %}
	<div class="alert alert-{% if messages.tags == 'error' %}danger{% else %}success{% endif %}  alert-dismissible" id="messages">
		{{message}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
  <form method="post">
    {% csrf_token %}
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            	{{ error }}
            {% endfor %}
          </div>
          {% endif %}
          <div style="margin-bottom: 25px" class="input-group">
            <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email:<span class="text-red">*</span>:</label>
            <div class="col-md-6">
              <small class="text-danger">{{form.email.errors}}</small>
              {{ form.email }}
            </div>
          </div>
          <div style="margin-bottom: 25px" class="input-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password:</label>
            <div class="col-md-6">
              <small class="text-danger">{{form.password.errors}}</small>
              {{ form.password }}
            </div>
          </div>
          <div class="text-center py-4 mt-3">
            <input type="submit" value="Login" class="btn btn-success">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}